DTDCONTYP.DTD

<!ELEMENT CONTAINERTYP (tabname,zeile+)>
<!ELEMENT zeile (CTNR,BGW,PPW,CTBEZ,EDAT)>
<!ELEMENT tabname (#PCDATA)>
<!ELEMENT CTNR (#PCDATA)>
<!ELEMENT BGW (#PCDATA)>
<!ELEMENT PPW (#PCDATA)>
<!ELEMENT CTBEZ (#PCDATA)>
<!ELEMENT EDAT (#PCDATA)>
<!ATTLIST CTNR
		DT CDATA #REQUIRED>
<!ATTLIST BGW
		DT CDATA #REQUIRED>		
<!ATTLIST PPW
		DT CDATA #REQUIRED>
<!ATTLIST CTBEZ
		DT CDATA #REQUIRED>
<!ATTLIST EDAT
		DT CDATA #REQUIRED>